<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta charset="UTF-8">

  <title>Programme</title>

    <link rel="stylesheet" href="/assets/css2/linearicons.css">
    <link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/assets/css2/bootstrap.css">
    <link rel="stylesheet" href="/assets/css2/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/assets/css2/main.css">

    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

    <!-- popup start -->

    <button style="margin: 50px; padding: 10px"type="button"class="btn btn-primary"(click)="openPopup()">
        <img src="/assets/img/iconVecteur/addProg.svg" width="35px" height="35px"/>
    </button>   
    <div class="modal-dialog"tabindex="-1"role="dialog"[ngStyle]="{'display':displayStyle}">

      <!-- form start -->
      <div class="modal-content">
        <h2>{{TitreProgramme}}</h2>
        <form [formGroup]="form1" (ngSubmit)="submitProgramme()">
          <div style="width: 300px;">
            <mat-select formControlName="userid" class="form-control">
              <mat-option *ngFor="let users of allusers" [value]="users.id">{{users.nom}} {{users.prenom}}</mat-option>
            </mat-select> 
          </div>
          <div>
            <div style="display:inline-block; width: 70%;">
              <mat-select [hidden]="!selection" formControlName="libelleactivite" class="form-control">
                <mat-option *ngFor="let listactivite of listactivites" [value]="listactivite.id">{{listactivite.libelleactivite}}</mat-option>
              </mat-select>           
              <input [hidden]="!saisi" matInput placeholder="Saisir..." formControlName="libelleactivite" class="form-control">
            </div>   
            <div style="display:inline-block;width: 8%;">
              <img (click)="saisir()" src="/assets/img/iconVecteur/edit.svg" width="35px" height="35px"/>
              <img (click)="select()" src="/assets/img/iconVecteur/select.svg" width="35px" height="35px"/>
            </div>
            <div style="display:inline-block; width: 20%;">          
              <input type="date" formControlName="date" class="form-control">
            </div> 
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"(click)="closePopup()">Fermer</button>
        </div>
      </div>
      <!-- form end -->
      
    </div>   
    <!-- popup end -->


    <!-- form start -->

    <!-- <div class="container">
      <h1>Angular FormArray Example - ItSolutionStuff.com</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>   
          <label for="name">Product Name:</label>  
          <input type="text" id="name" name="name" formControlName="name" class="form-control">  
        </p>
        <table class="table table-bordered" formArrayName="quantities">
          <tr>
            <th colspan="2">Add Multiple Quantity:</th>
            <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></th>
          </tr>
          <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
            <td>
              Quantity :<input type="text" formControlName="qty" class="form-control">
            </td>
            <td>
              Price:<input type="text" formControlName="price" class="form-control">
            </td>
            <td>
              <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br/>  
      {{this.form.value | json}}   
    </div> -->
    
    <!-- form end -->

  </body>
</html>
