
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta charset="UTF-8">

  <title>Accueil</title>

  <link rel="stylesheet" href="/assets/css2/linearicons.css">
  <link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
  <link rel="stylesheet" href="/assets/css2/bootstrap.css">
  <link rel="stylesheet" href="/assets/css2/owl.carousel.css">
  <link type="text/css" rel="stylesheet" href="/assets/css2/main.css">

  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

    <!-- START USERS'S LISTS  -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom et prénom(s)</th>
            <th>ID de l'activité</th>
            <th>Taches a executer</th>
            <th>Date</th>
            <th style="width: 205px">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr" *ngFor="let programme of actualprogram">
            <td>{{programme.nom}} {{programme.prenom}}</td>
            <td>00{{programme.activite_id}}</td>
            <td>{{programme.libelleactivite}}</td>
            <td>{{programme.date}}</td>
            <td>{{programme.statut}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END USERS'S LISTS -->

  </body>
</html>
