<!-- 
        <!- popup start ->

        <button style="margin: 50px; padding: 10px"type="button"class="btn btn-primary"(click)="openPopup()">
            <img src="/assets/img/iconVecteur/addProg.svg" width="35px" height="35px"/>
        </button>
        <div class="content"tabindex="-1"role="dialog"[ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document" style="width: 70%;">
                <div class="modal-content">

                    <!- form start ->

                    <div class="" style="width: 100%;border:1px solid;">
                    
                        <h3 *ngFor="let weeks of week" class="card-title">Programme d'activite de la semaine {{weeks}}</h3>  
                        
                        <form [formGroup]="form" (ngSubmit)="submitProgramme()">  
                            
                            <table class="table table-bordered" formArrayName="quantities">  
                                <thead>
                                    <tr>  
                                        <th colspan="2">
                                            <mat-select formControlName="libelleactivite" placeholder="Selectionner une personne" style="width: 200px;">
                                                <mat-option *ngFor="let users of allusers" [value]="users.id">
                                                {{users.nom}} {{users.prenom}}
                                                </mat-option>
                                            </mat-select> 
                                        </th>  
                                        <th width="150px">
                                            <button type="button" (click)="addQuantity()" class="btn btn-primary">
                                                <img src="/assets/img/iconVecteur/add.svg" width="35px" height="35px"/>
                                            </button></th>  
                                    </tr>  
                
                                    <tr class="table table-bordered">  
                                        <th style="width: 70%;">Activites</th>  
                                        <th style="width: 20%;">Dates</th>  
                                        <th style="width: 10%;">Action</th>  
                                    </tr> 
                
                                    <tr *ngFor="let quantity of programme().controls; let i=index" [formGroupName]="i">  
                                        <th style="width: 70%;">   
                                            <div style="display:inline-block; float:inline-end;">
                                                <button (click)="saisir()">
                                                    <img src="/assets/img/iconVecteur/edit.svg" width="35px" height="35px"/>
                                                </button>
                                                <button (click)="select()">
                                                    <img src="/assets/img/iconVecteur/select.svg" width="35px" height="35px"/>
                                                </button>
                                            </div>
                                            <div style="display:inline-block; width: 80%;">
                                                <mat-select [hidden]="!choix" formControlName="libelleactivite" class="form-control">
                                                    <mat-option *ngFor="let users of allusers" [value]="users.id">{{users.nom}} {{users.prenom}}</mat-option>
                                                </mat-select> 

                                                <input [hidden]="!personnalisation" matInput placeholder="Saisir..." formControlName="libelleactivite" class="form-control">
                                            </div>
                                        </th>  
                                        <th style="width: 20%;">  
                                            <input type="date" formControlName="date" class="form-control">  
                                        </th>  
                                        <th style="width: 10%;">  
                                            <button (click)="removeQuantity(i)" class="btn-danger">
                                                <img src="/assets/img/iconVecteur/delete.svg" width="35px" height="35px"/>
                                            </button>  
                                        </th>  
                                    </tr>
                                </thead>  
                            </table>  
                            
                            <button type="submit" class="btn btn-success">Submit</button>  
                            
                        </form>  
                            
                        <br/>  
                        {{this.form.value | json}}  
                    </div>  
                    <!- form end ->
                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"(click)="closePopup()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!- popup end ->

        <div>

            <div style="display:inline-block; float:inline-end;">
                <button (click)="saisir()">
                    <img src="/assets/img/iconVecteur/edit.svg" width="35px" height="35px"/>
                </button>
                <button (click)="select()">
                    <img src="/assets/img/iconVecteur/select.svg" width="35px" height="35px"/>
                </button>
            </div>
            <div style="display:inline-block; width: 80%;">
                <mat-select [hidden]="!selection" formControlName="libelleactivite" class="form-control">
                    <mat-option></mat-option>
                </mat-select> 

                <input [hidden]="!saisi" matInput placeholder="Saisir..." formControlName="libelleactivite" class="form-control">
            </div>

        </div>
         -->